.nav-bar {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-bar img{
    height: 25px;
}
.title-menu{
    display:flex;
    align-items: center;
}
input{
    height: 25px;
    width: 300px
}
.search-btn{
    height: 31px;
    margin-right: 15px;
}
.search-bar{
    display: flex;
    align-items: center;
}

.profilePic {
    height: 40px;
    border-radius: 80px;
}

.profilePicContainer {
    background-color: brown;
}

.videoImage {
    position: relative;
    margin-bottom: 8px;
}
.img{
    width: 100%;
    cursor: pointer;
}

.videoContainer {
    display: grid;
}

.infoContainer {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: blueviolet;
}

.textContainer {
    display: flex;
    flex-direction: column;

}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 45px;
}